<div class="modal-header">
  <h3 class="modal-title">Enviando</h3>
</div>
<div class="modal-body">
  <%= image_tag('hex-loader2.gif', width: '256', alt: 'Enviando Mensaje') %>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Cerrar</button>
</div>
