<div class="col-xs-6 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
  <table class="filter-container">
    <tr>
      <td><h3>B&uacute;squeda</h3></td>
    </tr>
    <tr>
      <td>
        <form>
          <div class="form-group">
            <input type="text" ng-model="customSelected" placeholder="Custom template" typeahead="politician as politician.name for politician in searchFilter($viewValue)" typeahead-template-url="politicians/customTemplate.html" class="form-control">
          </div>
        </form>
      </td>
    </tr>
  </table>
  <table class="table">
    <tr ng-repeat="politician in recipients">
      <td>
        <img ng-src="{{politician.image}}" class="img-rounded img-recipient"/>
      </td>
      <td>
        <p> Hon. {{politician.name}} </p>
      <td>
        <p><a ng-click="removeRecipient(politician)"><i class="fa fa-times"></i></a></p>
      </td>
    </tr>
  </table>
</div>