<div class="form-group">
  <label for="name">Nombre</label>
  <input type="text" class="form-control" id="name" ng-model="politician.name">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" ng-model="politician.email">
</div>
<div class="form-group">
  <label for="position">Posición</label></br>
  <label class="radio-inline">
    <input type="radio" name="position" ng-model="politician.position" value="mayor"> Alcalde
  </label>
  <label class="radio-inline">
    <input type="radio" name="position" ng-model="politician.position" value="senator"> Senador
  </label>
  <label class="radio-inline">
    <input type="radio" name="position" ng-model="politician.position" value="representative">Representante
  </label>
  <label class="radio-inline">
    <input type="radio" name="position" ng-model="politician.position" value="governor"> Gobernador
  </label>
</div>
<div class="form-group">
  <label for="description">Descripción</label>
  <input type="text" class="form-control" id="description" ng-model="politician.description" placeholder="i.e. Gobernador de Puerto Rico">
</div>
<div class="form-group">
  <label for="role">Rol</label>
  <input type="text" class="form-control" id="role" ng-model="politician.role" placeholder="Si aplica">
</div>
<div class="form-group">
  <label for="political_party">Partido Político</label>
  <input type="text" class="form-control" id="political_party" ng-model="politician.political_party">
</div>
<div class="form-group">
  <label for="image">Fotografía</label>
  <div class="img-container"><img ng-src="{{politician.image_preview}}" class="img-rounded img-politician"/></div>
  <input type="file" id="image" ng-file-select="preview_image($files)" ng-model="politician.image" >
</div>
:name, :email, :position, :description, :role, :political_party, :image