<div class="form-group">
  <label for="name">Nombre</label>
  <input type="text" class="form-control" id="name" ng-model="politician.name">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" ng-model="politician.email">
</div>
<div class="form-group">
  <label for="position">Posición</label>
  <input type="text" class="form-control" id="position" ng-model="politician.position" placeholder="Si aplica">
</div>
<div class="form-group">
  <label for="district">Distrito</label>
  <input type="text" class="form-control" id="district" ng-model="politician.district" placeholder="i.e. Distrito 28, Acumulación">
</div>
<div class="form-group">
  <label for="political_party">Partido Político</label>
  <input type="text" class="form-control" id="political_party" ng-model="politician.political_party">
</div>
<div class="form-group">
	<label for="branch">Rama Legislativa</label></br>
  <label class="radio-inline">
	  <input type="radio" name="branch" ng-model="politician.branch" value="senate"> Senado
	</label>
	<label class="radio-inline">
	  <input type="radio" name="branch" ng-model="politician.branch" value="representative"> Cámara de Representantes
	</label>
</div>
<div class="form-group">
  <label for="image">Fotografía</label>
  <div class="img-container"><img ng-src="{{politician.image_preview}}" class="img-rounded img-politician"/></div>
  <input type="file" id="image" ng-file-select="preview_image($files)" ng-model="politician.image" >
</div>
