<div class="modal-header">
  <h3 class="modal-title">Enviando Mensaje</h3>
</div>
<div class="modal-body">
  <img src="images/site/hex-loader2.gif" alt="Enviando Mensaje" width="256">
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Cerrar</button>
</div>
