<div class="row">
	<div ng-include="'recipients/recipients.html'"></div>
  <div class="col-md-9 col-md-offset-3">
  	<form novalidate>
  		<div class="form-group">
			  <label for="name">Nombre</label>
			  <input type="text" class="form-control" ng-model="vm.message.from_name">
			</div>
			<div class="form-group">
			  <label for="email">Email</label>
			  <input type="email" class="form-control" ng-model="vm.message.from_email">
			</div>
			<div class="form-group">
			  <label for="subject">Asunto</label>
			  <input type="text" class="form-control" ng-model="vm.message.subject">
			</div>
			<div class="form-group">
			  <label>Mensaje</label>
				<input type="text" class="form-control" ng-model="vm.message.body_html" ui-tinymce="vm.tinymceOptions">
			</div>
			<div class="form-group">
			  <label><input type="checkbox" ng-model="vm.message.is_public">&nbsp;¿Desea hacer este mensaje público?</label>
			</div>
	  	<button type="submit" class="btn btn-default" ng-click="vm.sendMessage()">Enviar</button>
		</form>
  </div>
</div>
