<nav class="navbar navbar-fixed-top" ng-controller="NavController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("att_logo_nav.png", size: "70x25", alt: "Atentamente.org") %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="politicians.index">Contactos</a></li>
        <li><a ui-sref="emails.index">Mensajes</a></li>
        <li ng-hide="signedIn()"><a ui-sref="login">Iniciar Sesión</a></li>
        <li ng-hide="signedIn()"><a ui-sref="register">Registro</a></li>
        <li ng-show="signedIn()"><a href="#/">{{ user.username }}</a></li>
        <li ng-show="signedIn()"><a ng-click="logout()">Cerrar Sesión</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
