<div ng-controller="RecipientsController as vm" class="col-xs-6 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
  <div>
    <h4>Recipientes</h4>
  </div>
  <div class="form-group">
    <input
      type="text"
      ng-model="vm.searchBox"
      placeholder="Añadir contacto"
      uib-typeahead="result as result.name for result in vm.searchFilter($viewValue)"
      typeahead-on-select="vm.onSelect($item)"
      typeahead-template-url="recipients/recipients.search-results.html"
      class="form-control"
    >
  </div>
  <table class="table">
    <tr ng-repeat="contact in vm.contacts | recipientsFilter" class="animate-repeat">
      <td>
        <img ng-src="{{contact.image}}" class="img-rounded img-contact"/>
      </td>
      <td>
        <p> Hon. {{contact.name}} </p>
      <td>
        <p><a ng-click="vm.removeRecipient(contact)"><i class="fa fa-times"></i></a></p>
      </td>
    </tr>
  </table>
</div>
