/*
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

.container-fluid{
	padding-top: 60px;
}

.img-legislator{
	width: 100%;
	height: auto;
}

.img-container{
	width: 200px;
}