/*
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-sidebar
 *= require font-awesome/css/font-awesome
 *= require textAngular/dist/textAngular
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
 @import url(http://fonts.googleapis.com/css?family=Raleway:500);

 body{
 	background-color: #f8f8f8;
 	font-family: 'Raleway', sans-serif;
 }

 nav{
 	background-color: #E8EDE3;
 }

 .navbar-brand{
 	font-family: 'Nothing You Could Do', cursive;
 	font-size: 25px;
 }

.container-fluid{
	padding-top: 60px;
}

.filter-container{
	width: 100%;
}

.sidebar-left{
	border-right: 1px solid;
}

.img-politician{
	width: 100%;
	height: auto;
}

.img-recipient{
	width: 75px;
}

.img-container{
	width: 200px;
}

.search-subtitle{
	font-size: 12px;
}

/* override angular-ui modal backdrop */
.modal-backdrop{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.6;
  bottom: 0;
}
